.center-div {
    display: flex;
    align-content: center;
    align-items: center;
}
ion-icon.filter-item-icon {
    margin-right: 0px;
}
ion-label {
    padding-left: 16px;
}
ion-content {
    --background: var(--ion-item-background) !important;
    background: var(--ion-item-background);
}