<ion-header translucent no-border>
  <ion-toolbar color="primary">
    <ion-title>Filters</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="modal-content">
  <ion-list>
    <ion-item>
      <ion-icon class="filter-item-icon" name="star" slot="start"></ion-icon>
      <ion-select value="Rating" 
            placeholder="Rating" 
            interface="popover"
            [(ngModel)]="filterObj.Rating">
        <ion-select-option *ngFor="let rating of ratingOptions" [value]="rating.value">
          {{rating.displayName}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon class="filter-item-icon" name="pizza" slot="start"></ion-icon>
      <ion-select value="Type" 
            placeholder="Cuisine" 
            interface="popover" 
            [(ngModel)]="filterObj.Type">
        <ion-select-option *ngFor="let type of typeOptions" [value]="type">
          {{type}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-icon class="filter-item-icon" name="time" slot="start"></ion-icon>
      <ion-select value="Hours" 
            placeholder="Hours" 
            interface="popover" >
        <ion-select-option *ngFor="let hour of hourOptions" [value]="hour.value">
          {{hour.displayName}}
        </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="filterObj.Rating || filterObj.Type || filterObj.Hours" class="pointer" (click)="resetFilter()">
      <ion-icon class="filter-item-icon" name="close" slot="start"></ion-icon>
      <ion-label>Clear filter</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer no-border>
  <ion-toolbar position="bottom">
    <ion-button expand="full" (click)="applyFilter(true)">Apply</ion-button>
  </ion-toolbar>
</ion-footer>