.filter-header {
    background: var(--ion-toolbar-background);
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.header-item ion-icon {
    color: var(--ion-color-dark);
    margin-left: 10px;
}
.active {
    color: var(--ion-color-primary) !important;
}
.icon-pin {
    color: #ff0151 !important;
}
.icon-map {
    color: #03bb03 !important;
}