<app-header title="Home" [user]="user">
  <ion-item no-padding class="header-item">
    <ion-icon name="options" 
              (click)="presentModal(showFilter)" 
              class="pointer"
              [ngClass]="{'active': filterObj.Rating || filterObj.Typing || filterObj.Hours}">
    </ion-icon>
    <ion-icon name="pin" class="pointer icon-pin"></ion-icon>
    <ion-icon name="map" class="pointer icon-map"></ion-icon>
  </ion-item>
</app-header>
<ion-content>
  <app-near-by-list-cards [itemsView]="itemsView" (itemClicked)="getMenu($event)"></app-near-by-list-cards>
  <ion-infinite-scroll threshold="20px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="dots"
      loadingText="Grabbing more goodies...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>