@import '../../../theme/variables.scss';

img.margin-left {
    margin-left: 15px;
}
img.margin-right {
    margin-right: 15px;
}
.margin-right {
    margin-right: 15px;
}
ion-icon.padding-left {
    padding-left: 20px;
}
ion-icon.padding-right {
    padding-right: 20px;
}
img.nav-logo {
    width: 35px;
}
ion-icon.nav-logo {
    width: 35px;
    font-size: 22px;
}
img.nav-icon {
    width: 20px;
}
ion-icon.nav-icon {
    font-size: 22px;
}
.no-padding {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}