<ion-header>
  <ion-toolbar *ngIf="!showSearch">
    <ion-icon name="camera"
              slot="start"
              class="nav-logo margin-left pointer"
              (click)="captureCamera()">
    </ion-icon>
    <ion-icon name="search" 
              slot="end"
              class="nav-icon pointer"
              (click)="refreshSearch(showSearch);">
    </ion-icon>
    <img slot="end" 
         [src]="user.SmallPhoto ? user.SmallPhoto : (user.SmallPhotoUrl ? user.SmallPhotoUrl : '../../../assets/images/default-profile.png')" 
         class="nav-icon round-icon margin-right margin-left"/>
  </ion-toolbar>
  <ion-toolbar *ngIf="showSearch" class="no-padding">
    <ion-icon name="arrow-round-back"
              slot="start"
              class="nav-icon"
              style="padding-left: 10px; padding-right: 10px; font-size:30px;"
              (click)="refreshSearch(showSearch);">
    </ion-icon>
    <ion-searchbar animated="true" 
                  debounce="300" 
                  showCancelButton="false"
                  class="no-padding margin-right no-box-shadow"
                  style="height:36px; padding-right: 15px;"
                  placeholder="What's good to eat?">
    </ion-searchbar>
    </ion-toolbar>
    <!-- add ng-content to allow additonal items to be inserted into header -->
    <ng-content></ng-content>
</ion-header>
