<app-header title="Home" [user]="user"></app-header>
<ion-content>
  <ion-list lines="full">
    <!-- temporarily disable settings and help since there's nothing there-->
    <!--<ion-item>
      <ion-icon name="settings"
              slot="start">
      </ion-icon>
      <span>Settings</span>
    </ion-item>
    <ion-item>
      <ion-icon name="help-circle"
              slot="start">
      </ion-icon>
      <span>Help & Information</span>
    </ion-item>-->
    <ion-item (click)="logOut()">
        <ion-icon name="exit"
                slot="start">
        </ion-icon>
        <span>Log Out</span>
    </ion-item>
    </ion-list>
</ion-content>
