<ion-list>
  <ion-list-header>Feedback submission</ion-list-header>

  <ion-item>
    <ion-label>Feedback type</ion-label>
    <ion-select placeholder="Select One" [(ngModel)]="feedbackForm.feebackType">
      <ion-select-option value="missing">Missing Menu Item</ion-select-option>
      <ion-select-option value="incorrect">Incorrect Menu Info</ion-select-option>
      <ion-select-option value="general">General feedback</ion-select-option>
    </ion-select>
  </ion-item>

  <div *ngIf="feedbackForm.feebackType == 'general' || feedbackForm.feebackType == 'incorrect'">
    <ion-item >
      <ion-label position="floating" [(ngModel)]="feedbackForm.feebackText">feed back</ion-label>
      <ion-textarea rows="5" name="description"></ion-textarea>
    </ion-item>
  </div>

  <div *ngIf="feedbackForm.feebackType == 'missing'">
    <ion-item>
      <ion-label>What item is missing?</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>Menu Section</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="feedbackForm.MenuType">
        <ion-select-option value="Breakfast">Breakfast</ion-select-option>
        <ion-select-option value="Lunch">Lunch</ion-select-option>
        <ion-select-option value="Dinner">Dinner</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Dish Type</ion-label>
      <ion-select placeholder="Select One" [(ngModel)]="feedbackForm.dishType">
        <ion-select-option value="Entree">Entree</ion-select-option>
        <ion-select-option value="Dessert">Dessert</ion-select-option>
        <ion-select-option value="Drinks">Drinks</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dish Name</ion-label>
      <ion-input [(ngModel)]="feedbackForm.dishName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Dish Price</ion-label>
      <ion-input [(ngModel)]="feedbackForm.dishPrice"></ion-input>
    </ion-item>
  </div>

  <ion-item class="form-submit">
    
  </ion-item>
  <ion-footer>
    <ion-button fill="solid" expand="block" color="primary">Submit Form</ion-button>
  </ion-footer>
</ion-list>