<div class="container" [ngClass]="applyClass(customClass)">
  <p class="slide-main-title" *ngIf="showTitle">
    <b>
      Your friends liked
    </b>
  </p>
  <ion-slides pager="false" 
              [options]="slideOpts">
    <ion-slide class="d-block" *ngFor="let item of items" (click)="clickEvent(item)">
    <img [src]="item.imgUrl" class="slide-img"/>
    <div class="slide-overlay" *ngIf="showOverlay">
    </div>
    <div class="slide-sub-title">
      <b>
        {{item.dishName}}
      </b>
    </div>
    </ion-slide>
  </ion-slides>
</div>