@import '../../../theme/variables.scss';

/** used for slides and card components **/
.d-block {
    display: block;
}
.container {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--ion-toolbar-background);
}
.slide-img {
    object-fit: cover;
    height: 120px;
    border-radius: 5px;
}
.slide-main-title {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}
.slide-sub-title {
    bottom: 12px;
    left: 5px;
    text-align: left;
    float: right;
    position: absolute;
    width: 100%;
    z-index: 2;
    color: var(--ion-color-primary-contrast);
    font-size: 0.65em;
}
.slide-overlay {
    z-index: 1;
    height: 120px;
    width: 100%;
    position: absolute;
    overflow: auto;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.25);
}