    <ion-content padding class="login-page">
        <form id="loginForm" (submit)="login()" (keydown)="keyDownFunction($event)">
            <ion-grid>
                <h2 class="text-center">
                    <a href="javascript:void(0);">
                        <img src="../../../../../assets/images/app-logo.png">
                    </a>
                </h2>
                <!--<h2 class="text-center">Food Diary</h2>-->
                <ion-row padding-bottom>
                    <ion-col size-xs="0" size-sm="1" size-md="2">
                    </ion-col>
                    <ion-col size-xs="12" size-sm="10" size-md="8">
                        <ion-item>
                            <!--<ion-label>User name</ion-label>-->
                            <ion-input required
                                        name="username" 
                                        type="email" 
                                        placeholder="username"
                                        [(ngModel)]="user.Username"
                                        >
                            </ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col size-xs="0" size-sm="1" size-md="2">
                    </ion-col>
                    <ion-col size-xs="0" size-sm="1" size-md="2">
                    </ion-col>
                    <ion-col size-xs="12" size-sm="10" size-md="8">
                        <ion-item>
                            <!--<ion-label>Password</ion-label>-->
                            <ion-input required 
                                        name="password"
                                        type="password" 
                                        placeholder="password"
                                        [(ngModel)]="user.Password"
                                        >
                            </ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col size-xs="0" size-sm="1" size-md="2">
                    </ion-col>
                </ion-row>
                <ion-row padding-top padding-bottom>
                    <ion-button 
                            shape="round" 
                            color="danger" 
                            fill="solid"
                            class="button-center"
                            type="submit">
                        Log in
                    </ion-button>
                </ion-row>
                <div padding class="text-center text-light">
                    <span (click)="signUp(user)" class="pointer"> Need an account? 
                        <span>
                            <a>
                                Sign up
                            </a>
                        </span>
                    </span>
                </div>
            </ion-grid>
        </form>
    </ion-content>