<div *ngFor="let item of itemsView">
  <ion-card (click)="emitEvent(item.Id)">
    <ion-row>
      <ion-col size="9">
        <ion-card-header>
          <ion-card-subtitle>{{item.Type}}</ion-card-subtitle>
          <ion-card-title>{{item.Name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div>
            {{item.Rating}} 
            <app-inline-rating [array]="item.Array"></app-inline-rating>
          </div>
          <p>{{item.Address}}</p>
          <p class="item-description">{{item.Description}}</p>
        </ion-card-content>
      </ion-col>
      <ion-col size="3" class="center-image">
        <img [src]="item.ImageUrl" class="card-image"/>
      </ion-col>
    </ion-row>
  </ion-card>
</div>