.item-rating {
    color: var(--star-color);
}
.item-description {
    font-size: smaller;
}
ion-card-header {
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 5px;
    padding-right: 0px;
}
ion-card-content {
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 0px;
}
img.card-image {
    margin: auto;
}
.center-image {
    display: flex;
    align-content: center;
    align-items: center;
}