<span *ngFor="let item of array">
  <ion-icon *ngIf="item == 1" name="star" class="star"></ion-icon>
  <ion-icon *ngIf="item == 2" name="star-half" class="star"></ion-icon>
  <ion-icon *ngIf="item == 0" name="star-outline" class="star"></ion-icon>
</span>
