<ion-app>
  <div *ngIf="showSplash" class="splash">
    <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
    </div>
    <div class="sk-cube-text">
      <b>
        {{loadingMessage}}
      </b>
    </div>
  </div>
  <ion-router-outlet></ion-router-outlet>
  <!-- loading template -->
  <div *ngIf="rootScope.isLoading" class="loading">
    <div>
      <ion-spinner name="dots" color="light"></ion-spinner>
    </div>
  </div>
  <!-- async process template -->
  <div *ngIf="rootScope.isAsyncProcessing" class="async-process">
    <ion-spinner name="dots" color="primary"></ion-spinner>
  </div>
</ion-app>
