<angular-cropper #angularCropper 
                 [cropperOptions]="cropperOptions" 
                 [imageUrl]="myImage" 
                 class="camera-image"
                 *ngIf="myImage"
                 (cropStart)="keepAlive()"
                 (click)="toggleOptions(showOptions)">
</angular-cropper>
<div class="crop-options" [@visibilityChanged]="showOptions ? 'shown' : 'hidden'">
  <ion-row>
    <ion-col size="6" class="no-padding">
      <ion-button class="no-padding" expand="full" fill="clear" color="dark" (click)="cancelCrop()">
        <ion-icon class="half-padding lg-icon" name="close"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="6">
      <ion-button class="no-padding" expand="full" fill="clear" color="dark" (click)="doneCrop()">
        <ion-icon class="half-padding lg-icon" name="checkmark"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</div>
<ion-footer no-border class="crop-filters" [@visibilityChanged]="showOptions ? 'shown' : 'hidden'">
  <ion-toolbar position="bottom" class="semi-transparent">
    <app-recommend [slideOpts]="slideOpts" 
                   [items]="items" 
                   [showTitle]="showFilterTitle" 
                   [showOverlay]="showOverlay"
                   customClass="custom-recommend"
                   (onClick)="applyFilter($event)">
    </app-recommend>
  </ion-toolbar>
</ion-footer>
<web-photo-filter #filterContent [class.only-original]="!selectedFilter" [class.no-original]="selectedFilter" [src]="myFilterImage"
   [filter]="selectedFilter" [level]="level" keep="true" (filterLoad)="imageLoaded($event, selectedFilter)" style="display:none;">
</web-photo-filter>