.crop-options {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 9999;
    border-radius: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
}
ion-icon.lg-icon {
    font-size: 150%;
}
ion-col ion-button {
    display: flex;
    vertical-align: middle;
}
.crop-filters {
    position: absolute;
    z-index:9999;
    bottom: 0px;
    left: 0px;
}
.half-padding {
    padding: 7px;
}
ion-icon {
    display: inline-block;
    vertical-align: middle;
}
.semi-transparent {
    --ion-toolbar-background: rgba(255, 255, 255, 0.85);  
}

canvas {
    width: 100%;
}
.no-original img.display-no-filter {
    display: none !important;
}
.only-original canvas {
    display: none !important;
}