<ion-content>
  <div *ngIf="currentMenu.length == 0"> 
    <ion-row>
      <ion-col>
        <p class="menu-feedback-text">
          This menu is a little lonely
        </p>
      </ion-col>
    </ion-row>
    <ion-row>
      <div>
          <img class="menu-content-image" [src]="menu404ImageUrl" />
      </div>
    </ion-row>
  </div>
  <div *ngFor="let menu of currentMenu">
    <ion-row>
      <ion-col>
          <div class="border-center">
              <div text-center>
                <ion-button color="light" (click)="toggleMenu(menu.MenuType)">
                  {{menu.MenuType}}
                </ion-button>
              </div>
          </div>
      </ion-col>
    </ion-row>
    <div [@visibilityChanged]="showMenu[menu.MenuType] ? 'shown' : 'hidden'">
      <div *ngFor="let section of menuSections">
        <div *ngIf="menu.MenuItems[section]">
          <ion-row>
            <ion-col>
              <div>
                <div text-center>
                  <ion-button color="light">
                    {{section}}
                  </ion-button>
                </div>
              </div>
            </ion-col>
          </ion-row>
          <ngx-gallery (onActivateCamera)="meow($event, menu.MenuItems[section])" class="menu-gallery" [options]="galleryOptions" [images]="initGallaryImages(menu.MenuItems[section])"></ngx-gallery>
        </div>
      </div>
    </div>
  </div>
  <div>
    <ion-grid>
      <ion-row no-padding>
        <ion-col>
          <p class="menu-feedback-text no-margin-bottom">
            See something missing from the menu? 
          </p>
        </ion-col>
      </ion-row>
      <ion-row no-padding class="menu-feedback-row menu-feedback-row-center">
        <ion-button fill="solid" expand="block" color="primary" (click)="showFeedbackForm()">
          <ion-icon class="tool-icon" name="paper-plane"></ion-icon> 
          &nbsp;Please tell us about it
        </ion-button>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>