.border-center { 
    width: 100%;
    position: relative;
}

.border-center:before { content: '';
    position: absolute;
    bottom: 50%;
    border-bottom: 2px var(--ion-color-primary) solid;
    width: 100%;
    z-index:0;
}

.menu-item-container {
    height: 150px;
    width: 150px;
    background: grey;
}

.menu-item-image {
    object-fit: cover;
}

.menu-item-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.hide {
    visibility: hidden;
}

.menu-gallery {
    padding-left: 5px;
    padding-right: 5px;
}

.menu-feedback-row {
    display: block;
}

.menu-feedback-row.menu-feedback-row-center {
    text-align: center;
}

.menu-feedback-text {
    text-align: center;
    color: var(--ion-color-primary);
}

.no-margin-bottom {
    margin-bottom: 0px;
}
.no-margin-top {
    margin-top: 0px;
}

.menu-content-image {
    object-fit: contain;
}

/** override the section headers to block off the section dividng line **/
.ion-color-light {
    --ion-color-base: var(--ion-item-background) !important;
    --ion-color-contrast: var(--ion-color-primary) !important;
    --box-shadow: none !important;
}
ion-content {
    --background: var(--ion-item-background) !important;
}