<ion-content padding class="sign-up-page">
    <div padding>
    </div>
    <form>
        <ion-grid>
            <h1 ion-text 
                class="text-title text-light padding-left"> 
                Sign up today to start your account 
            </h1>
            <h3 ion-text 
                class="text-light padding-left"> 
                Please fill all fields 
            </h3>
            <ion-row padding-bottom>
                <ion-col size-xs="0" size-sm="1" size-md="2">
                </ion-col>
                <ion-col size-xs="12" size-sm="10" size-md="8">
                    <ion-item>
                        <!--<ion-label>User name</ion-label>-->
                        <ion-input required 
                                    type="email" 
                                    placeholder="username"
                                    >
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size-xs="0" size-sm="1" size-md="2">
                </ion-col>
                <ion-col size-xs="0" size-sm="1" size-md="2">
                </ion-col>
                <ion-col size-xs="12" size-sm="10" size-md="8">
                    <ion-item>
                        <!--<ion-label>Password</ion-label>-->
                        <ion-input required 
                                    type="password" 
                                    placeholder="password"
                                    >
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size-xs="0" size-sm="1" size-md="2">
                </ion-col>
                <ion-col size-xs="0" size-sm="1" size-md="2">
                </ion-col>
                <ion-col size-xs="12" size-sm="10" size-md="8">
                    <ion-item>
                        <!--<ion-label>Confirm Password</ion-label>-->
                        <ion-input required 
                                    type="password" 
                                    placeholder="confirm password"
                                    >
                        </ion-input>
                    </ion-item>
                </ion-col>
                <ion-col size-xs="0" size-sm="1" size-md="2">
                </ion-col>
            </ion-row>
            <ion-row padding-top>
                <ion-button type="button" 
                        shape="round" 
                        color="danger" 
                        fill="solid"
                        class="button-center"
                        (click)="signUp(user)">
                    Sign up
                </ion-button>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>