@import './theme/variables.scss';

@media only screen and (min-width : 320px) and (max-width : 480px) {
	ion-content.login-page {
        --background: url('./assets/images/login-bkg2-mobile.jpeg');
        background-repeat: no-repeat;
        position: absolute;
    }

    ion-content.sign-up-page {
        --background: url('./assets/images/sign-up-bkg-mobile.jpeg');
        background-repeat: no-repeat;
        position: absolute;
    }
}

.text-center {
    text-align: center;
}
.text-title {
    font-size: 200%;
}
.text-light {
    color: #f4f5f8;
}
.button-center {
    margin: 0 auto;
    display: block;
    width: 105px;
}
img.round-icon {
    border-radius: 50%;
}
.no-box-shadow .searchbar-input  {
    box-shadow: none !important;
}
.pointer {
    cursor: pointer;
}
.half-screen-modal .modal-wrapper {
    height: 70%;
    width: 90%;
    margin: auto;
    background-color: var(--ion-item-background);
}
.no-padding {
    padding: none;
}

/** override background color of search bar from body color to item color **/
.searchbar-input.sc-ion-searchbar-md {
    background: var(--ion-item-background);
}

/** override the image cropper container height so we can fit it inside the view **/
.cropper {
    height: 100vh;
}

/** override recommend component css **/
.custom-recommend {
    background-color: transparent !important;
}