<ion-tabs>
  <ion-tab-bar slot="bottom" class="menu-bar">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="near-by">
        <ion-icon name="restaurant"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="menu">
          <ion-icon name="menu"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>