<app-header title="Home" [user]="user"></app-header>
<ion-content>
  <app-recommend [slideOpts]="slideOpts" [items]="items"></app-recommend>
  <app-snap-shots [items]="snapShotItems"></app-snap-shots>
</ion-content>