<div *ngFor="let item of items">
  <div class="container">
    <div class="snap-shot-header">
      <img [src]="item.user.SmallPhoto ? item.user.SmallPhoto : (item.user.SmallPhotoUrl ? item.user.SmallPhotoUrl : '../../../assets/images/default-profile.png')" 
           class="snap-shot-profile round-icon snap-shot-vertical-center"/>
      <span class="snap-shot-profile">{{item.user.FullName}}</span>
    </div>
    <div class="snap-shot-content">
      <img [src]="item.imgUrl ? item.imgUrl : defaultImageUrl" class="snap-shot-image"/>
      <div *ngIf="item.imgUrl" class="snap-shot-overlay"></div>
      <div class="snap-shot-rating">
        <span *ngFor="let rate of item.ratingArray">
          <ion-icon name="star" class="rating star-rated"></ion-icon>
        </span>
        <span *ngFor="let rate of arrayOne(5-item.ratingArray.length)">
          <ion-icon name="star" class="rating star-default"></ion-icon>
        </span>
      </div>
    </div>
    <div class="snap-shot-footer">
      <h2 *ngIf="item.title">
        {{item.title}}
      </h2>
      <p [innerHTML]="item.subTitle">
      </p>
    </div>
  </div>
</div>