@import '../../../theme/variables.scss';

.container {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--ion-toolbar-background);
}
img.snap-shot-image {
    object-fit: cover;
}
img.snap-shot-profile {
    width: 25px;
    object-fit: fill;
}
span.snap-shot-profile {
    margin-left: 10px;
    font-weight: bold;
}
.snap-shot-header{
    height: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.snap-shot-content {
    position: relative;
}
.snap-shot-vertical-center {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.snap-shot-footer h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.snap-shot-footer p {
    font-size: 0.6em;
    margin-top: 5px;
    margin-bottom: 5px;
}
.snap-shot-rating {
    bottom: 12px;
    left: 5px;
    text-align: left;
    float: right;
    position: absolute;
    width: 100%;
    z-index: 2;
    font-size: 0.6em;
}
.snap-shot-overlay {
    z-index: 1;
    top: 0;
    left: 0;
    position: absolute;
    height: 98%;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
}
.rating {
    font-size: 2.5em;
}
.star-rated {
    color: var(--star-color);
}
.star-default {
    color: var(--star-default-color);
}
